.headerStyle {
  background-color: rgb(230,26,57);
  height: 80px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
}

.headerStyle a {
  color: white;
} 

.headerStyle a:hover{
  color: green;
}

.bttnSpace {
  padding: 0px 40px;
}

/* hero/banner image/text section */
.landing {
  padding: 0px 0px;
  display: flex;
  height: 70vh;
  /* height: 770px; */
  background: linear-gradient(to bottom, rgb(230,26,57), white);
  border: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grassAni {
    animation: animatedBackground 120s linear infinite;
    background: url('../../public/images/grass.png') center/cover repeat-x;
    height: 230px;
    /* transform: translateZ(0); */
    animation-name: animatedBackground;
    display: block;
    background-color: white;
}

@keyframes animatedBackground {
  0% {background-position-x: 0px;}
  100% {background-position-x: -3016px;}
}

.box {
  height: 300px;
  width: 300px;
  background-color: bisque;
}

/* body of page */
.contentStyle {
  padding: 100px 100px;
  min-height: 120;
  background-color: white;
}

.colStyle {
  margin: 20px;
}

.imgSide {
  width: 10px;
  background-color: rgb(230,26,57);
  height: 300px;
}

.space {
  height: 500px;
}

/* page footer consistent across pages */
.footerStyle {
  background-color: rgb(230,26,57);
  height: 200px;
  position:relative;
  bottom: 0px;
  color: white;
}

/* card componenents */
.card {
  margin: 15px 10px;
}

.homeCard {
  margin: 15px 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: scroll;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

.flashCard {
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center; */
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.kanjiCard{
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 400px;
}
/* style={{height:'100%', width:'35%'}} */
.cardL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  color: rgb(230,26,57);
  font-size: 100px;
  /* padding-bottom: 30px; */
}

.cardR {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: 60%;
  height:100%;
  overflow-wrap: normal;
  justify-content: center;
  /* align-items: center; */
}

.lbody {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  padding: 0px 20px;
  width:100%;
}

.bar{
  width: 100%;
  height: 20px;
  background-color: rgb(230,26,57);
}

.star {
  position: absolute;
  top: 20px;
  right: 10px;
}

.menu {
  position: absolute;
  top: 50px;
  right: 10px;
}

.opt {
  width: 20px;
  height: 20px;
  background-color: blue;
}

.repo {
  width: 400px;
  margin: 0px 20px;
}


/* class="ant-spin-dot ant-spin-dot-spin" */

/* .ig {
  position: relative;
} */

.igtext {
  position: absolute;
  left: 20px;
  top: 80px;
  height: 200;
}

.cardInt:hover {
  background-color: rgba(197, 197, 197, 0.079);
  color: purple;
}

.flashCard a {
  color: rgb(230,26,57);
}

.homeCard::-webkit-scrollbar {
  width: 12px;
  display: none;
}

/* .homeCard::-webkit-scrollbar-track { */
  /* background: green;        color of the tracking area */
/* } */

.homeCard::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 30px;       /* roundness of the scroll thumb */
  /* border: 3px solid rgb(255, 255, 255);  creates padding around scroll thumb */
}

/* .flipCard {
  background-color: antiquewhite;
  width: 200px;
  transform: rotateY(180deg);
} */

/* .chg{
  transform: rotateY(180deg);
}

.cont{
  width: 200px;
  height: 200px;
  perspective: 700px;
}

.flipCard {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 800ms;
  transform-style: preserve-3d;
}

.front {
  background-color: green;
}

.back {
  background-color: purple;
  transform: rotateY(180deg);
} */

/* .front, .back{
  position: absolute;
  backface-visibility:hidden;
} */

.cont {
  width: 350px;
  height: 500px;
  perspective: 800px;
}

/* .cont:hover > .crd {
  cursor: pointer;
  transform: rotateY(180deg);
} */

.crd {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-image: url(https://source.unsplash.com/random/350x500);
}

.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.tltp {
  position: absolute;
  visibility: hidden;
  /* z-index: 2; */
  border: 1px solid rgba(0, 0, 0, 0.201);
  width: fit-content;
  background-color: white;
  padding: 2px 2px;
}

.tltp:hover{
  /* background-color: royalblue; */
  background-color: grey;
  /* border-color: purple; */
}
/* 
.tltp :hover{
  color: white;
  border: none;
} */

.annon {
  position: absolute;
  /* visibility: hidden; */
  /* z-index: 2; */
  /* border: 1px solid black; */
  width: 40%;
  height: fit-content;
  background-color: rgb(227, 227, 227);
  padding: 2px 2px;
  visibility: hidden;
  /* text-align: center; */
}

.highlightOptions {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.ty a {
  background-color: rgb(203, 203, 203);
  color: black;
}
.ty a:hover {
  /* background-color: rgb(206, 206, 206); */
  background-color: grey;
}

.registerForm:hover {
  border-color: green;
  border-inline-end-width: 1px;
}

.registerForm {
  margin: 100px 25%;
  padding: 50px;
  background-color: rgb(249, 249, 249);
}
/* .loginForm {
  margin: 100px 10%;
  margin: 100px 35%;
  padding: 50px;
  background-color: rgb(249, 249, 249);
  min-width: 50%;
  max-width: 80%;
} */

@media screen and (min-width: 1200px) {
  .loginForm {
    margin: 100px 35%;
    padding: 50px;
    background-color: rgb(249, 249, 249);
    /* min-width: 50%; */
    /* max-width: 80%; */
  }
}

@media screen and (max-width: 600px) {
  .loginForm {
    margin: 100px 10%;
    padding: 50px;
    background-color: rgb(249, 249, 249);
    /* min-width: 50%; */
    /* max-width: 80%; */
  }
}

@media screen and (max-width: 990px) {
  .loginForm {
    margin: 100px 10%;
    padding: 50px;
    background-color: rgb(249, 249, 249);
    /* min-width: 50%; */
    /* max-width: 80%; */
  }
}

.mainLay {
  display: flex;
  flex-direction: row;
}

.ccard {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.Cardset:not(:first-child){
  display: none;
}
/* 
.Cardset:not(:first-child){
  margin-top: -395px;
} */

.cinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cfront, .cback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cfront {
  /* background-color: green; */
  color: black;
}

.cback {
  /* background-color: #2980b9; */
  color: white;
  transform: rotateY(180deg);
}

.cardF{
  /* background-color: rgb(230,26,57); */
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:50px;
  border-radius: 0px;
  border: none;
}

.cardB{
  height:100%;
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: left;
  font-size:medium;
  border-radius: 0px;
  border: none;
  /* text-align: justify; */
}

.bttn {
  margin-top: 50px;
  margin: 50px 10px 0px 10px;
}

.moveCard {
  /* visibility: hidden; */
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

